@font-face {
    font-family: neon;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

.span {
    color: #fff;
    text-decoration: none;
}

.btn {
    /* padding: 12px 32px; */
    font-size: 1rem;
    text-transform: uppercase;
    background-color: rgb(28, 108, 45);
    color: rgb(248, 217, 15);
    font-weight: 600;
    cursor: pointer
}

.intro {
    display: flex;
    height: 77vh;
    margin-top: 6rem;
}

.iLeft {
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
}

.iText {
    display: flex;
    flex-direction: column;
}

.iText>:nth-child(1) {
    font-size: 3rem;
    font-weight: bold;
}

.iText>:nth-child(2) {
    font-size: 3rem;
    font-weight: bold;
    /* font-family: neon; */
    color: #FB4264;
    text-shadow: 0 0 3vw #F40A35;
}

.iText>:nth-child(3) {
    font-weight: 200;
    font-size: 15px;
    margin-top: 10px;
}

.iButton {
    width: 6rem;
    height: 2rem;
}

.iRight {
    display: flex;
    position: relative;
    flex: 1;
}