.header{
    width: 100%;
    /* position: fixed; */
    /* bottom: 0; */
    left: 0;
    z-index: 100;
    background-color: #0d1117;
}

.navContainer{
    max-width: 968px;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listElement{
    color: #fff;
    list-style: none;
    padding: 10px 20px;
}


.listbox{
    display: flex;
    float: right;
    /* justify-content: space-between; */
}

.listText{
    text-decoration: none;
    color: #fff;
}